@media(min-width:320px){
 .rayhan h2{
    font-size: 1.55rem;
}
.rayhan h3{
    font-size: 1.15rem;
}
 .rayhanSection .rayhan{
    left: 45%;
}   
    
}
@media(min-width:576px){
 .rayhan h2{
    font-size: 2.00rem;
}
.rayhan h3{
    font-size: 1.85rem;
}
 .rayhanSection .rayhan{
     top: 70%;
    left: 55%;
}
.interests .fa{
    font-size: 40px !important;
}
/* ------- RESPONSIVE --------*/
.h2respo{
    font-size: 1.8rem;
}
.h3respo{
    font-size: 1.2rem;
}
.rightSiteSide{
    margin: 15px 10px 15px;
}
.rightSiteSide .fa{
    font-size: 25px;
}
    
    
}

@media(min-width:768px){
    .rayhan h2{
    font-size: 2.75rem;
}
.rayhan h3{
    font-size: 1.35rem;
}
.rayhanSection .rayhan{
    top: 80%;
    left: 60%;
}
.interests .fa{
    font-size: 50px !important;
}
/* ------- RESPONSIVE --------*/
.h2respo{
    font-size: 2.3rem;
}
.h3respo{
    font-size: 1.6rem;
}
.textrespo{
    font-size: 1.0rem;
}
.rightSiteSide{
    margin: 25px 15px 15px;
}
    
    
}




@media(min-width:992px){
       .rayhan h2{
    font-size: 2.15rem;
}
.rayhan h3{
    font-size: 0.85rem;
}
.rayhanSection .rayhan{
    top: 70%;
    left: 45%;
}
.interests .fa{
    font-size: 50px !important;
}
/* ------- RESPONSIVE --------*/
.h2respo{
    font-size: 1.8rem;
}
.h3respo{
    font-size: 1.4rem;
}
.rightSiteSide{
    margin: 40px 20px 40px;
}
.rightSiteSide .fa{
    font-size: 35px;
}    
    
}

@media(min-width:1200px){
         .rayhan h2{
    font-size: 2.55rem;
}
.rayhan h3{
    font-size: 1.45rem;
}
.rayhanSection .rayhan{
    top: 70%;
    left: 45%;
} 
    
    
}